<%= link_to '< Retour', welcome_index_path, method: :get %>
<br />
<br />
Transactions enregistrées dans la commune : <%= @city&.name %> (<%= @city&.postal_code || params[:zip_code] %>)
<%= form_with url: transactions_path, method: :post do |form| %>
  <%= form.hidden_field :zip_code, value: @city&.postal_code || params[:zip_code] %>
  <%= submit_tag 'Synchroniser les transactions' %>
<% end %>
<br />
<table border=1>
  <tr>
    <th>Date</th>
    <th>Adresse</th>
    <th>Type</th>
    <th>Surface bâti</th>
    <th>Nombre pièces</th>
    <th>Valeur</th>
  </tr>
  <% @city&.transactions&.each do |record| %>
      <tr>
        <td><%= record.transaction_date%></td>
        <td><%= record.address%></td>
        <td><%= record.estate_type%></td>
        <td><%= record.total_area%></td>
        <td><%= record.number_of_rooms%></td>
        <td><%= record.value%> €</td>
      </tr>
  <% end %>
</table>